* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Clash Display';
  background-color: #10181f;
  color: #2291af;
  line-height: 1.6;
  letter-spacing: 2px;
}

/* Navigation */
.nav-bar {
  padding: 20px;
  box-shadow: 0 4px 12px #2291af;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
}

.nav-links a {
  color: #2291af;
  text-decoration: none;
  font-size: 1.5rem;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  color: #2291af;
  background-color: #2290af1b;
  padding: 5px 10px;
  border-radius: 1.2rem;
}

/* Home Page */
.title {
  margin-top: 10%;
  max-width: auto;
}

h1 {
  font-size: 4rem;
  color: #2291af;
  margin-left: 20%;
  font-weight: bold;
  line-height: 1.6;
}

.welcome {
  font-size: 2rem;
  color: #298199;
  margin-top: 10px;
  margin-left: 22%;
}

.intro {
  padding: 40px 20px;
  text-align: left;
  max-width: 70%;
  margin: 4rem 30%;

}

.fullname {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #298199;
}

.hello {
  font-size: 1.2rem;
  color:#298199;
}

.home {
  font-size: 1.8rem;
  color: #298199;
}

/* About Page */
.about {
  font-size: 1.8rem;
  color: #298199;
  text-align: center;
  max-width: 70%;         
  margin: 4rem auto;           
}

/* Projects Page */
.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
  margin: 2%
}

.project-card {
  background-color: #2290af1b;
  border-radius: 1.2rem;
  box-shadow: 0 0.2rem  rgba(0, 0, 0, 0.1);
  padding: 2.5rem;
  margin:0;
  text-align: left;
  max-width: auto;
  transition: all 0.3s ease;
}

.project-card:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  transform: translateY(-8px)
}

h3 {
  font-size: 1.5rem;
  color: #2291af;
  margin-bottom: 1rem;
}

.project-card p {
  font-size: 1.2rem;
  color: #298199;
  margin-bottom: 1.2rem;
}

.project-card a {
  display: inline-block;
  background-color: #306c7d;
  color: white;
  padding: 8px 16px;
  border-radius: 0.8rem;
  text-decoration: none;
  font-weight:700;
  transition: all 0.3s ease;
}

.project-card a:hover {
  transform: translateY(-5px);
  background-color: #344c52;
}

/* Contact Page */
.contact {
  max-width: 800px;
  margin: 60px auto;
  padding: 40px 20px;
  background-color: #2290af1b;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 40px;
}

.contact-form label {
  font-weight: 500;
  color:  white;
}

.contact-form input {
  padding: 10px;
  border: 1px solid;
  background-color: #2290af1b;
  border-radius: 6px;
  font-size: 1rem;
  transition: all 0.3s ease;
}
.contact-form textarea{
  padding: 10px;
  border: 1px solid;
  background-color: #2290af1b;
  border-radius: 6px;
  font-size: 1rem;
  transition: all 0.3s ease;
  resize: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: white;
  outline: none;
  box-shadow: 0 0 5px rgba(26, 188, 156, 0.3);
  color: white;
}

.contact-form button {
  background-color: #298199;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  align-self: flex-start;
}

.contact-form button:hover {
  background-color: #344c52;
  transform: translateY(-5px);
}

.contact-info {
  border-top: 1px solid #ddd;
  padding: 20px;

}
.contact-info a {
  color: #298199;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 1.4rem;
}

.contact-info a:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #306c7d;
  color: white;
  font-size: 1.3rem;
  margin-top: 40px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.2rem;
    margin: 0 auto;
    text-align: center;
  }
  .welcome {
    font-size: 1.4rem;
    margin: 0 auto;
    text-align: center;
  }
  .intro, .about {
    max-width: 90%;
    margin: 2rem auto;
    text-align: center;
  }
  .projects {
    grid-template-columns: 1fr; /* single column */
    gap: 1rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  .contact{
    margin: 0 2rem;
  }
  .contact-form input,
  .contact-form textarea,
  .contact-form button {
    font-size: 0.9rem;
  }
  footer {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.8rem;
  }
  .welcome {
    font-size: 1.2rem;
  }
  .intro, .about {
    font-size: 1rem;
    padding: 20px 10px;
  }
  .project-card {
    padding: 1.5rem;
  }
  .contact {
    padding: 20px 10px;
    margin: 0 2rem;
  }
}